/*---
title:   Clearfix
name:    mixin_utility_clearfix
section: Mixin
---

Contain floats.

```css
u-clearfix()
```

```css
.foo {
  @include u-clearfix();
}
```
*/
@mixin u-clearfix() {
  *zoom: 1;
  &::before,
  &::after {
    display: table;
    content: ' ';
  }
  &::after {
    clear: both;
  }
}
