/*---
title:   Clearfix
name:    mixin_utility_clearfix
section: Mixin
---

Contain floats.

```css
u-clearfix()
```

```css
.foo {
  @include u-clearfix();
}
```
*/
@mixin u-clearfix() {
  &::after {
    display: block;
    clear: both;
    content: ' ';
  }
}
